/**
 * /snippets/component-counter.liquid
 */
.counter {
  button {
    height: 25px;
    width: 25px;
    /* background: black;
    color: white; */
    /* color: #000; */
    line-height: 23px;
    text-align: center;
    font-size: 20px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
  input {
    width: 40px;
    /* padding: 0.3em; */
    margin: 0 0.05em;
    text-align: center;
    height: auto;
    font-size: 24px;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
