.hamburger {
  cursor: pointer;
  svg {
    display: block;
    width: 22px;
    transition: all 0.3s;
    transform: rotate(90deg);

    @media (--750) {
      width: 40px;
    }
  }
}

.mm {
  transition: all 0.75s;
}

/* .logo, .nav__left {
  display: none;
} */

.mm--hidden {
  .mm {
    top: -500px;
  }

  .hamburger {
    svg {
      transform: rotate(0deg);
    }
  }

  /* .logo, .nav__left {
    display: block;
  } */
}
