.product__slide {
  width: 100%;

  &.is-selected {
    z-index: 10000;
  }

  > img {
    margin: 0 10px;
  }

  > div {
    height: 100%;
  }
}

.image__inner {
  top: 0;
  right: 5px;
  bottom: 0;
  left: 5px;
  height: 100%;
  /* padding-top: 80%; */

  @media (--1200) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding-top: 0;
  }
}

/* .product__slider {
  padding-top: 120%;
} */

.product__slider {
  outline: none;
}

.product__slider__nav {

  .product__slider__item {
    width: 85px;
    margin-bottom: 20px;

    @media (--750) {
      width: 55px;
    }

    button {
      width: 100%;
      padding-top: 100%;
      height: 0;
      position: relative;
    }
  }

  /* @media (--750) {
    > div {
      transform: translateY(-50%) !important;
      top: 50% !important;
      bottom: auto !important;
      left: auto !important;
      right: auto !important;
    }

    .product__slider__item {
      position: relative !important;
      top: auto !important;
      left: auto !important;
      width: 55px;
      max-width: 90%;
      margin-bottom: 10px;

      button {
        position: relative;
        width: 100%;
        padding-top: 100%;
        height: 0;
      }
    }
  } */

  .__inner {
    display: none;
    overflow: hidden;
    top: 0;
    /* top: 38px; */
    /* left: 50%;
    transform: translateX(-50%); */

    button {
      background: transparent;
      width: 60px;
      height: 60px;
      overflow: hidden;
      outline: none;

      @media (--1800) {
        width: 100px;
        height: 100px;
      }

      img {
        object-fit: cover;
      }

      .__frame {
        top: 2px; bottom: 2px; left: 2px; right: 2px;
        /* transition: border-color 200ms var(--cubic); */
        box-sizing: border-box;
      }
    }

    @media (--600) {
      display: flex;
    }
  }

  li {
    & + li {
      margin-left: -1px;
    }

    &:first-child:last-child {
      display: none;
    }

    &.is-selected,
    &:focus,
    &:hover {
      outline: 0;
      .__frame {
        /* border-color: var(--blue); */
        border-color: #ffffff;
        border: 3px solid #ffffff;
      }
    }
  }

  button.__control {
    padding: 0;
    transition: opacity 200ms var(--ease);
    background: #ffffff;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    outline: none;
    top: 50%;
    transform: translateY(-50%);

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .icon-chevron {
      fill: #000000;
    }

    &:first-of-type {
      left: -35px;

      svg {
          transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &:last-of-type {
      right: -35px;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

}

.upsell__image {
  width: 90px;
  height: 100%;
  position: relative;

  img {
    object-fit: cover;
    height: 100%;
    position: absolute;
  }
}

.pdp__content {
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.02em;

  p {
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
  }

  ul, ol {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 20px;
    list-style-type: disc;

    li {
      margin-bottom: 5px;
    }

    @media (--750) {
        font-size: 16px;
    }

    @media (--1800) {
      font-size: 16px;
    }
  }
}


.desc-title {
  cursor: pointer;

  span {
    opacity: 0.3;
  }
}

.desc-body {
  display: none;
}

.desc-1 {
  .desc-title-1 {
    span {
      opacity: 1;
    }
  }
  .desc-body-1 {
    display: block;
  }
}

.desc-2 {
  .desc-title-2 {
    span {
      opacity: 1;
    }
  }
  .desc-body-2 {
    display: block;
  }
}

.pdp-thumbnails, .pdp-slider {
  display: none;
  width: 100%;

  &.active {
    display: block;
  }
}


.product__slider__item {
  display: inline-block;

  @media (--750) {
    width: 55px;
    display: block;
  }

  &.active {
    > button {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 1px solid #9e9e9e;
        background: transparent;
      }
    }
  }
}


.zoomLens {
  border-color: #000000 !important;
}

#stockists {
  top: -100px;
  position: absolute;

  @media (--750) {
    top: -150px;
  }
}
