@media only screen and (max-width: 749px) {
  .sm--b {
    border: 3px solid #000000;
  }
  .sm--bt {
    border-top: 3px solid #000000;
  }
  .sm--bb {
    border-bottom: 3px solid #000000;
  }
  .sm--br {
    border-right: 3px solid #000000;
  }
  .sm--bl {
    border-left: 3px solid #000000;
  }
}
@media only screen and (min-width: 750px) {
  .lg--b {
    border: 3px solid #000000;
  }
  .lg--bt {
    border-top: 3px solid #000000;
  }
  .lg--bb {
    border-bottom: 3px solid #000000;
  }
  .lg--br {
    border-right: 3px solid #000000;
  }
  .lg--bl {
    border-left: 3px solid #000000;
  }
}
.b {
  border: 3px solid #000000;
}
.bt {
  border-top: 3px solid #000000;
}
.bb {
  border-bottom: 3px solid #000000;
}
.br {
  border-right: 3px solid #000000;
}
.bl {
  border-left: 3px solid #000000;
}
