:root {
  --black: #262C4D;
  --white: #FFF;
  --green: #A4E1B9;
  --blue: #344FDA;
  --black: #000000;
  --gray: #797979;
  --whiskey: #853c00;
  --navy: #1a184b;
  --grey: #7f7f7f;
  --red: #a40000;
  --gold: #A6781D;
  --silver: #6D7278;
  --light-gray: #F8F6F6;
}


.c-gold {
  color: var(--gold);
}

.bg-gold {
  background-color: var(--gold);
}

.c-light-gray {
  color: var(--light-gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.c-silver {
  color: var(--silver);
}

.bg-silver {
  background-color: var(--silver);
}

.c-white {
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
}

.c-black {
  color: var(--black);
}
.bg-black {
  background-color: var(--black);
}

.c-green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}

.c-blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}

.c-gray {
  color: var(--gray);
}
.bg-gray {
  background-color: var(--gray);
}

.c-whiskey {
  color: var(--whiskey);
}

.bg-whiskey {
  background-color: var(--whiskey);
}

.c-navy {
  color: var(--navy);
}

.bg-navy {
  background-color: var(--navy);
}

.c-grey {
  color: var(--grey);
}

.bg-grey {
  background-color: var(--grey);
}


.c-red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}
