.outer {
  padding-left: 1.5em;
  padding-right: 1.5em;
  @media (--600) {
    padding-left: 3em;
    padding-right: 3em;
  }
}

/* .container--s {
  max-width: 600px;
}
.container--m {
  max-width: 1000px;
}
.container--l {
  max-width: 1400px;
} */

.container {
  max-width: 1300px;
}

.page-content {
  max-width: 700px;
}

.banner-slide {
  padding-top: 50%;
  width: 100%;
  height: 0;
}

.banner-container {
  opacity: 0;
  transition: opacity 0.3s;
  outline: none;

  &.flickity-enabled {
    opacity: 1;
  }

  .flickity-page-dots {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dot {
    border: 2px solid #000;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 5px;

    @media (--750) {
      width: 15px;
      height: 15px;
    }

    &.is-selected {
      background-color: #000;
    }
  }
}
