.cen {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.site-header--open {
  border-bottom: 3px solid #000;

  @media (--750) {
    .slater-header__inner {
      padding: 15px 0;
    }
  }
}

.transition {
  transition: all 0.3s;
}

.seesaw {
  position: relative;

  &:hover {
    animation: seesaw 1s;
  }
}

@keyframes seesaw {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1.5deg);
  }
  20% {
    transform: rotate(1.5deg);
  }
  30% {
    transform: rotate(-1.5deg);
  }
  40% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(-1.5deg);
  }
  60% {
    transform: rotate(1.5deg);
  }
  70% {
    transform: rotate(-1.5deg);
  }
  80% {
    transform: rotate(1.5deg);
  }
  90% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.menu-item {
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

.cart--open {
  .cart-drawer {
    @media (--750) {
      top: 85px;
      max-height: calc(100vh - 85px);
    }
  }
}
