.al {
  text-align: left;
}
.ar {
  text-align: right;
}
.ac {
  text-align: center;
}
@media only screen and (max-width: 749px) {
  .sm--al {
    text-align: left;
  }
  .sm--ar {
    text-align: right;
  }
  .sm--ac {
    text-align: center;
  }
}
@media only screen and (min-width: 750px) {
  .lg--al {
    text-align: left;
  }
  .lg--ar {
    text-align: right;
  }
  .lg--ac {
    text-align: center;
  }
}
.jcc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.jcb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jcs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.jce {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.jca {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@media only screen and (max-width: 749px) {
  .sm--jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .sm--jcb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .sm--jcs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .sm--jce {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .sm--jca {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 750px) {
  .lg--jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .lg--jcb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .lg--jcs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .lg--jce {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .lg--jca {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.ais {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.aie {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.aic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.aib {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
@media only screen and (max-width: 749px) {
  .sm--ais {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .sm--aie {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .sm--aic {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sm--aib {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
@media only screen and (min-width: 750px) {
  .lg--ais {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .lg--aie {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .lg--aic {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .lg--aib {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
.fix {
  position: fixed;
}
.fill, .top {
  top: 0;
}
.fill, .bottom {
  bottom: 0;
}
.fill, .left {
  left: 0;
}
.fill, .right {
  right: 0;
}
.x {
  width: 100%;
}
.y {
  height: 100%;
}
.cen {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.fit {
  -o-object-fit: cover;
  object-fit: cover;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
@media only screen and (max-width: 749px) {
  .sm--rel {
    position: relative;
  }
  .sm--abs {
    position: absolute;
  }
  .sm--fix {
    position: fixed;
  }
}
@media only screen and (min-width: 750px) {
  .lg--rel {
    position: relative;
  }
  .lg--abs {
    position: absolute;
  }
  .lg--fix {
    position: fixed;
  }
}
@media only screen and (max-width: 749px) {
  .sm--cen {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 750px) {
  .lg--cen {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.z-1 {
  z-index: -10;
}
.z0 {
  z-index: 0;
}
.z1 {
  z-index: 100;
}
.z2 {
  z-index: 200;
}
.z3 {
  z-index: 300;
}
.z4 {
  z-index: 400;
}
.z5 {
  z-index: 500;
}
.z6 {
  z-index: 600;
}
.z7 {
  z-index: 700;
}
.z8 {
  z-index: 800;
}
.z9 {
  z-index: 900;
}
.z10 {
  z-index: 1000;
}
.fs-8 {
  font-size: 8px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-21 {
  font-size: 21px;
}
.fs-22 {
  font-size: 22px;
}
.fs-23 {
  font-size: 23px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-27 {
  font-size: 27px;
}
.fs-28 {
  font-size: 28px;
}
.fs-29 {
  font-size: 29px;
}
.fs-30 {
  font-size: 30px;
}
.fs-31 {
  font-size: 31px;
}
.fs-32 {
  font-size: 32px;
}
.fs-33 {
  font-size: 33px;
}
.fs-34 {
  font-size: 34px;
}
.fs-35 {
  font-size: 35px;
}
.fs-36 {
  font-size: 36px;
}
.fs-37 {
  font-size: 37px;
}
.fs-38 {
  font-size: 38px;
}
.fs-39 {
  font-size: 39px;
}
.fs-40 {
  font-size: 40px;
}
.fs-41 {
  font-size: 41px;
}
.fs-42, .wpcf7-form .services .wpcf7-list-item, .form__input {
  font-size: 42px;
}
.fs-43 {
  font-size: 43px;
}
.fs-44 {
  font-size: 44px;
}
.fs-45 {
  font-size: 45px;
}
.fs-46 {
  font-size: 46px;
}
.fs-47 {
  font-size: 47px;
}
.fs-48 {
  font-size: 48px;
}
.fs-49 {
  font-size: 49px;
}
.fs-50 {
  font-size: 50px;
}
.fs-51 {
  font-size: 51px;
}
.fs-52 {
  font-size: 52px;
}
.fs-53 {
  font-size: 53px;
}
.fs-54 {
  font-size: 54px;
}
.fs-55 {
  font-size: 55px;
}
.fs-56 {
  font-size: 56px;
}
.fs-57 {
  font-size: 57px;
}
.fs-58 {
  font-size: 58px;
}
.fs-59 {
  font-size: 59px;
}
.fs-60 {
  font-size: 60px;
}
.fs-61 {
  font-size: 61px;
}
.fs-62 {
  font-size: 62px;
}
.fs-63 {
  font-size: 63px;
}
.fs-64 {
  font-size: 64px;
}
.fs-65 {
  font-size: 65px;
}
.fs-66 {
  font-size: 66px;
}
.fs-67 {
  font-size: 67px;
}
.fs-68 {
  font-size: 68px;
}
.fs-69 {
  font-size: 69px;
}
.fs-70 {
  font-size: 70px;
}
.fs-71 {
  font-size: 71px;
}
.fs-72 {
  font-size: 72px;
}
.fs-73 {
  font-size: 73px;
}
.fs-74 {
  font-size: 74px;
}
.fs-75 {
  font-size: 75px;
}
.fs-76 {
  font-size: 76px;
}
.fs-77 {
  font-size: 77px;
}
.fs-78 {
  font-size: 78px;
}
.fs-79 {
  font-size: 79px;
}
.fs-80 {
  font-size: 80px;
}
@media only screen and (max-width: 749px) {
  .sm--fs-8 {
    font-size: 8px;
  }
  .sm--fs-9 {
    font-size: 9px;
  }
  .sm--fs-10 {
    font-size: 10px;
  }
  .sm--fs-11 {
    font-size: 11px;
  }
  .sm--fs-12 {
    font-size: 12px;
  }
  .sm--fs-13 {
    font-size: 13px;
  }
  .sm--fs-14 {
    font-size: 14px;
  }
  .sm--fs-15 {
    font-size: 15px;
  }
  .sm--fs-16 {
    font-size: 16px;
  }
  .sm--fs-17 {
    font-size: 17px;
  }
  .sm--fs-18 {
    font-size: 18px;
  }
  .sm--fs-19 {
    font-size: 19px;
  }
  .sm--fs-20 {
    font-size: 20px;
  }
  .sm--fs-21 {
    font-size: 21px;
  }
  .sm--fs-22 {
    font-size: 22px;
  }
  .sm--fs-23 {
    font-size: 23px;
  }
  .sm--fs-24 {
    font-size: 24px;
  }
  .sm--fs-25 {
    font-size: 25px;
  }
  .sm--fs-26 {
    font-size: 26px;
  }
  .sm--fs-27 {
    font-size: 27px;
  }
  .sm--fs-28 {
    font-size: 28px;
  }
  .sm--fs-29 {
    font-size: 29px;
  }
  .sm--fs-30 {
    font-size: 30px;
  }
  .sm--fs-31 {
    font-size: 31px;
  }
  .sm--fs-32 {
    font-size: 32px;
  }
  .sm--fs-33 {
    font-size: 33px;
  }
  .sm--fs-34 {
    font-size: 34px;
  }
  .sm--fs-35 {
    font-size: 35px;
  }
  .sm--fs-36, .wpcf7-form .services .wpcf7-list-item, .form__input {
    font-size: 36px;
  }
  .sm--fs-37 {
    font-size: 37px;
  }
  .sm--fs-38 {
    font-size: 38px;
  }
  .sm--fs-39 {
    font-size: 39px;
  }
  .sm--fs-40 {
    font-size: 40px;
  }
  .sm--fs-41 {
    font-size: 41px;
  }
  .sm--fs-42 {
    font-size: 42px;
  }
  .sm--fs-43 {
    font-size: 43px;
  }
  .sm--fs-44 {
    font-size: 44px;
  }
  .sm--fs-45 {
    font-size: 45px;
  }
  .sm--fs-46 {
    font-size: 46px;
  }
  .sm--fs-47 {
    font-size: 47px;
  }
  .sm--fs-48 {
    font-size: 48px;
  }
  .sm--fs-49 {
    font-size: 49px;
  }
  .sm--fs-50 {
    font-size: 50px;
  }
  .sm--fs-51 {
    font-size: 51px;
  }
  .sm--fs-52 {
    font-size: 52px;
  }
  .sm--fs-53 {
    font-size: 53px;
  }
  .sm--fs-54 {
    font-size: 54px;
  }
  .sm--fs-55 {
    font-size: 55px;
  }
  .sm--fs-56 {
    font-size: 56px;
  }
  .sm--fs-57 {
    font-size: 57px;
  }
  .sm--fs-58 {
    font-size: 58px;
  }
  .sm--fs-59 {
    font-size: 59px;
  }
  .sm--fs-60 {
    font-size: 60px;
  }
  .sm--fs-61 {
    font-size: 61px;
  }
  .sm--fs-62 {
    font-size: 62px;
  }
  .sm--fs-63 {
    font-size: 63px;
  }
  .sm--fs-64 {
    font-size: 64px;
  }
  .sm--fs-65 {
    font-size: 65px;
  }
  .sm--fs-66 {
    font-size: 66px;
  }
  .sm--fs-67 {
    font-size: 67px;
  }
  .sm--fs-68 {
    font-size: 68px;
  }
  .sm--fs-69 {
    font-size: 69px;
  }
  .sm--fs-70 {
    font-size: 70px;
  }
  .sm--fs-71 {
    font-size: 71px;
  }
  .sm--fs-72 {
    font-size: 72px;
  }
  .sm--fs-73 {
    font-size: 73px;
  }
  .sm--fs-74 {
    font-size: 74px;
  }
  .sm--fs-75 {
    font-size: 75px;
  }
  .sm--fs-76 {
    font-size: 76px;
  }
  .sm--fs-77 {
    font-size: 77px;
  }
  .sm--fs-78 {
    font-size: 78px;
  }
  .sm--fs-79 {
    font-size: 79px;
  }
  .sm--fs-80 {
    font-size: 80px;
  }
}
@media only screen and (min-width: 750px) {
  .lg--fs-8 {
    font-size: 8px;
  }
  .lg--fs-9 {
    font-size: 9px;
  }
  .lg--fs-10 {
    font-size: 10px;
  }
  .lg--fs-11 {
    font-size: 11px;
  }
  .lg--fs-12 {
    font-size: 12px;
  }
  .lg--fs-13 {
    font-size: 13px;
  }
  .lg--fs-14 {
    font-size: 14px;
  }
  .lg--fs-15 {
    font-size: 15px;
  }
  .lg--fs-16 {
    font-size: 16px;
  }
  .lg--fs-17 {
    font-size: 17px;
  }
  .lg--fs-18 {
    font-size: 18px;
  }
  .lg--fs-19 {
    font-size: 19px;
  }
  .lg--fs-20 {
    font-size: 20px;
  }
  .lg--fs-21 {
    font-size: 21px;
  }
  .lg--fs-22 {
    font-size: 22px;
  }
  .lg--fs-23 {
    font-size: 23px;
  }
  .lg--fs-24 {
    font-size: 24px;
  }
  .lg--fs-25 {
    font-size: 25px;
  }
  .lg--fs-26 {
    font-size: 26px;
  }
  .lg--fs-27 {
    font-size: 27px;
  }
  .lg--fs-28 {
    font-size: 28px;
  }
  .lg--fs-29 {
    font-size: 29px;
  }
  .lg--fs-30 {
    font-size: 30px;
  }
  .lg--fs-31 {
    font-size: 31px;
  }
  .lg--fs-32 {
    font-size: 32px;
  }
  .lg--fs-33 {
    font-size: 33px;
  }
  .lg--fs-34 {
    font-size: 34px;
  }
  .lg--fs-35 {
    font-size: 35px;
  }
  .lg--fs-36 {
    font-size: 36px;
  }
  .lg--fs-37 {
    font-size: 37px;
  }
  .lg--fs-38 {
    font-size: 38px;
  }
  .lg--fs-39 {
    font-size: 39px;
  }
  .lg--fs-40 {
    font-size: 40px;
  }
  .lg--fs-41 {
    font-size: 41px;
  }
  .lg--fs-42 {
    font-size: 42px;
  }
  .lg--fs-43 {
    font-size: 43px;
  }
  .lg--fs-44 {
    font-size: 44px;
  }
  .lg--fs-45 {
    font-size: 45px;
  }
  .lg--fs-46 {
    font-size: 46px;
  }
  .lg--fs-47 {
    font-size: 47px;
  }
  .lg--fs-48 {
    font-size: 48px;
  }
  .lg--fs-49 {
    font-size: 49px;
  }
  .lg--fs-50 {
    font-size: 50px;
  }
  .lg--fs-51 {
    font-size: 51px;
  }
  .lg--fs-52 {
    font-size: 52px;
  }
  .lg--fs-53 {
    font-size: 53px;
  }
  .lg--fs-54 {
    font-size: 54px;
  }
  .lg--fs-55 {
    font-size: 55px;
  }
  .lg--fs-56 {
    font-size: 56px;
  }
  .lg--fs-57 {
    font-size: 57px;
  }
  .lg--fs-58 {
    font-size: 58px;
  }
  .lg--fs-59 {
    font-size: 59px;
  }
  .lg--fs-60 {
    font-size: 60px;
  }
  .lg--fs-61 {
    font-size: 61px;
  }
  .lg--fs-62 {
    font-size: 62px;
  }
  .lg--fs-63 {
    font-size: 63px;
  }
  .lg--fs-64 {
    font-size: 64px;
  }
  .lg--fs-65 {
    font-size: 65px;
  }
  .lg--fs-66 {
    font-size: 66px;
  }
  .lg--fs-67 {
    font-size: 67px;
  }
  .lg--fs-68 {
    font-size: 68px;
  }
  .lg--fs-69 {
    font-size: 69px;
  }
  .lg--fs-70 {
    font-size: 70px;
  }
  .lg--fs-71 {
    font-size: 71px;
  }
  .lg--fs-72 {
    font-size: 72px;
  }
  .lg--fs-73 {
    font-size: 73px;
  }
  .lg--fs-74 {
    font-size: 74px;
  }
  .lg--fs-75 {
    font-size: 75px;
  }
  .lg--fs-76 {
    font-size: 76px;
  }
  .lg--fs-77 {
    font-size: 77px;
  }
  .lg--fs-78 {
    font-size: 78px;
  }
  .lg--fs-79 {
    font-size: 79px;
  }
  .lg--fs-80 {
    font-size: 80px;
  }
}
.lh-10 {
  line-height: 1;
}
.lh-11 {
  line-height: 1.1;
}
.lh-12 {
  line-height: 1.2;
}
.lh-13 {
  line-height: 1.3;
}
.lh-14 {
  line-height: 1.4;
}
.lh-15 {
  line-height: 1.5;
}
.lh-16 {
  line-height: 1.6;
}
.lh-17 {
  line-height: 1.7;
}
.lh-18 {
  line-height: 1.8;
}
.lh-19 {
  line-height: 1.9;
}
.lh-20 {
  line-height: 2;
}
@media only screen and (max-width: 749px) {
  .sm--ls-0 {
    letter-spacing: 0px;
  }
  .sm--ls-1 {
    letter-spacing: 0.1px;
  }
  .sm--ls-2 {
    letter-spacing: 0.2px;
  }
  .sm--ls-3 {
    letter-spacing: 0.3px;
  }
  .sm--ls-4 {
    letter-spacing: 0.4px;
  }
  .sm--ls-5 {
    letter-spacing: 0.5px;
  }
  .sm--ls-6 {
    letter-spacing: 0.6px;
  }
  .sm--ls-7 {
    letter-spacing: 0.7px;
  }
  .sm--ls-8 {
    letter-spacing: 0.8px;
  }
  .sm--ls-9 {
    letter-spacing: 0.9px;
  }
  .sm--ls-10 {
    letter-spacing: 1px;
  }
  .sm--ls-11 {
    letter-spacing: 1.1px;
  }
  .sm--ls-12 {
    letter-spacing: 1.2px;
  }
  .sm--ls-13 {
    letter-spacing: 1.3px;
  }
  .sm--ls-14 {
    letter-spacing: 1.4px;
  }
  .sm--ls-15 {
    letter-spacing: 1.5px;
  }
  .sm--ls-16 {
    letter-spacing: 1.6px;
  }
  .sm--ls-17 {
    letter-spacing: 1.7px;
  }
  .sm--ls-18 {
    letter-spacing: 1.8px;
  }
  .sm--ls-19 {
    letter-spacing: 1.9px;
  }
  .sm--ls-20 {
    letter-spacing: 2px;
  }
  .sm--ls-21 {
    letter-spacing: 2.1px;
  }
  .sm--ls-22 {
    letter-spacing: 2.2px;
  }
  .sm--ls-23 {
    letter-spacing: 2.3px;
  }
  .sm--ls-24 {
    letter-spacing: 2.4px;
  }
  .sm--ls-25 {
    letter-spacing: 2.5px;
  }
  .sm--ls-26 {
    letter-spacing: 2.6px;
  }
  .sm--ls-27 {
    letter-spacing: 2.7px;
  }
  .sm--ls-28 {
    letter-spacing: 2.8px;
  }
  .sm--ls-29 {
    letter-spacing: 2.9px;
  }
  .sm--ls-30 {
    letter-spacing: 3px;
  }
}
@media only screen and (min-width: 750px) {
  .lg--ls-0 {
    letter-spacing: 0px;
  }
  .lg--ls-1 {
    letter-spacing: 0.1px;
  }
  .lg--ls-2 {
    letter-spacing: 0.2px;
  }
  .lg--ls-3 {
    letter-spacing: 0.3px;
  }
  .lg--ls-4 {
    letter-spacing: 0.4px;
  }
  .lg--ls-5 {
    letter-spacing: 0.5px;
  }
  .lg--ls-6 {
    letter-spacing: 0.6px;
  }
  .lg--ls-7 {
    letter-spacing: 0.7px;
  }
  .lg--ls-8 {
    letter-spacing: 0.8px;
  }
  .lg--ls-9 {
    letter-spacing: 0.9px;
  }
  .lg--ls-10 {
    letter-spacing: 1px;
  }
  .lg--ls-11 {
    letter-spacing: 1.1px;
  }
  .lg--ls-12 {
    letter-spacing: 1.2px;
  }
  .lg--ls-13 {
    letter-spacing: 1.3px;
  }
  .lg--ls-14 {
    letter-spacing: 1.4px;
  }
  .lg--ls-15 {
    letter-spacing: 1.5px;
  }
  .lg--ls-16 {
    letter-spacing: 1.6px;
  }
  .lg--ls-17 {
    letter-spacing: 1.7px;
  }
  .lg--ls-18 {
    letter-spacing: 1.8px;
  }
  .lg--ls-19 {
    letter-spacing: 1.9px;
  }
  .lg--ls-20 {
    letter-spacing: 2px;
  }
  .lg--ls-21 {
    letter-spacing: 2.1px;
  }
  .lg--ls-22 {
    letter-spacing: 2.2px;
  }
  .lg--ls-23 {
    letter-spacing: 2.3px;
  }
  .lg--ls-24 {
    letter-spacing: 2.4px;
  }
  .lg--ls-25 {
    letter-spacing: 2.5px;
  }
  .lg--ls-26 {
    letter-spacing: 2.6px;
  }
  .lg--ls-27 {
    letter-spacing: 2.7px;
  }
  .lg--ls-28 {
    letter-spacing: 2.8px;
  }
  .lg--ls-29 {
    letter-spacing: 2.9px;
  }
  .lg--ls-30 {
    letter-spacing: 3px;
  }
}
.ls-0 {
  letter-spacing: 0px;
}
.ls-1 {
  letter-spacing: 0.1px;
}
.ls-2 {
  letter-spacing: 0.2px;
}
.ls-3 {
  letter-spacing: 0.3px;
}
.ls-4 {
  letter-spacing: 0.4px;
}
.ls-5 {
  letter-spacing: 0.5px;
}
.ls-6 {
  letter-spacing: 0.6px;
}
.ls-7 {
  letter-spacing: 0.7px;
}
.ls-8 {
  letter-spacing: 0.8px;
}
.ls-9 {
  letter-spacing: 0.9px;
}
.ls-10 {
  letter-spacing: 1px;
}
.ls-11 {
  letter-spacing: 1.1px;
}
.ls-12 {
  letter-spacing: 1.2px;
}
.ls-13 {
  letter-spacing: 1.3px;
}
.ls-14 {
  letter-spacing: 1.4px;
}
.ls-15 {
  letter-spacing: 1.5px;
}
.ls-16 {
  letter-spacing: 1.6px;
}
.ls-17 {
  letter-spacing: 1.7px;
}
.ls-18 {
  letter-spacing: 1.8px;
}
.ls-19 {
  letter-spacing: 1.9px;
}
.ls-20 {
  letter-spacing: 2px;
}
.ls-21 {
  letter-spacing: 2.1px;
}
.ls-22 {
  letter-spacing: 2.2px;
}
.ls-23 {
  letter-spacing: 2.3px;
}
.ls-24 {
  letter-spacing: 2.4px;
}
.ls-25 {
  letter-spacing: 2.5px;
}
.ls-26 {
  letter-spacing: 2.6px;
}
.ls-27 {
  letter-spacing: 2.7px;
}
.ls-28 {
  letter-spacing: 2.8px;
}
.ls-29 {
  letter-spacing: 2.9px;
}
.ls-30 {
  letter-spacing: 3px;
}
strong {
  font-weight: bold;
}
em, .i {
  font-style: italic;
}
.caps {
  text-transform: uppercase;
}
.no-under {
  text-decoration: none;
}
.grotesque {
  font-family: "basis-grotesque";
}
.fortescue {
  font-family: "fortescue-display";
}
.grid {
  margin-left: -40px;
  margin-right: -40px;
}
.grid__item {
  padding-right: 40px;
  padding-left: 40px;
}
.fdr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.fdrr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.fdcr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@media only screen and (max-width: 749px) {
  .sm--fdr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .sm--fdrr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .sm--fdc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sm--fdcr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 750px) {
  .lg--fdr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .lg--fdrr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .lg--fdc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .lg--fdcr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.overflow--scroll {
  overflow: scroll;
}
.overflow--hidden {
  overflow: hidden;
}

.bold {
  font-weight: bold;
}
.semi {
  font-weight: 500;
}

img {
  max-width: 100%;
  display: block;
}

.square {
  padding-top: 100%;
  width: 100%;
  height: 0;
  position: relative;
}

.no-bar {
  padding: 0 !important;
}

.max-width--100 {
  max-width: 100%;
}
