@custom-media --400 (min-width: 25em);
@custom-media --600 (min-width: 37.5em);
@custom-media --750 (min-width: 46.875em);
@custom-media --800 (min-width: 50em);
@custom-media --1000 (min-width: 62.5em);
@custom-media --1200 (min-width: 75em);
@custom-media --1400 (min-width: 87.5em);

:root {
  --ease: ease-in-out;
  --cubic: cubic-bezier(.12,.67,.53,1);
}
