<div class='block bb pb-5'>
  <div class='outer f fw'>

    <div class='container ma x lg--pb-15 sm--p-4 sm--mb-6'>
      <div class='lg--two-thirds ac block ma lg--fs-30 sm--fs-28 lh-16 maisonneuemono lg--pb-8 sm--pb-6 sm--pt-6 lg--pt-8'>
        What's in your bag?
      </div>
    </div>

  </div>
</div>


<div class='x block bb fs-20'>
    <form action="/cart" method="post" novalidate>

        <div class='f fw x'>
          <div class='lg--two-thirds sm--one-whole lg--br'>
            <div class='cart__box cart__box--full cart--show'>
              {% if cart.item_count > 0 %}
                {% for item in cart.items %}
                  <div class='x f lg--pt-10 lg--pb-10 lg--pl-16 lg--pr-16 sm--p-8 {% if forloop.last %}{% else %}bb{% endif %}' data-component='cartItem' data-id='{{ item.variant_id }}' data-key='{{ item.key }}'>
                    <div data-label="{{ 'customer.order.product' | t }}" class='pr-10'>
                      <a href="{{ item.url | within: collections.all }}">
                        <img src="{{ item | img_url: '240x240' }}" alt="{{ item.title | escape }}">
                      </a>
                    </div>
                    <div class='fa f fdc jcb'>
                      <div class='x f jcb mb-10'>
                        <div class='fa x f jcb'>

                          <div class='pr-4 ls-25'>
                            <a href="{{ item.url }}">
                              {{ item.product.title }} – {% unless item.product.has_only_default_variant %}{{ item.variant.title }}{% endunless %}
                            </a>
                          </div>

                          <div>
                            {% comment %}
                            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class='button--reset remove'>
                              {% include 'x' %}
                            </a>
                            {% endcomment %}
                            <div class='button--reset remove js-remove-item'>
                              {% include 'x' %}
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class='x f jcb aic'>
                        <div>
                          <div data-label="{{ 'cart.label.quantity' | t }}">

                            <div class="counter-wrapper rel">
                              <div class="counter rel f aib">
                                <button type="button" class="js-remove-single c-gray">-</button>
                                <div class='js-single-quantity lh-10'>{{ item.quantity }}</div>
                                <button type="button" class="js-add-single c-gray">+</button>
                              </div>
                            </div>
                          </div>


                        </div>
                        <div class='c-gray' data-label="{{ 'cart.label.price' | t }}">
                          {% comment %}
                          {% if item.original_line_price != item.line_price %}
                            <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                            {{ item.price | money }}
                            <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                            <s>{{ item.original_price | money }}</s>
                          {% else %}
                            {{ item.price | money }}
                          {% endif %}
                          {% endcomment %}
                          {{ item.price | money }}
                        </div>
                      </div>

                    </div>
                  </div>
                {% endfor %}

              {% else %}

                <div class='cart__box cart__box--empty cart--show'>
                   <div class='lg--pt-10 lg--pb-10 lg--pl-16 lg--pr-16 sm--pt-8 sm--pb-8 outer'>
                      <p>{{ 'cart.general.empty' | t }}</p>
                      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
                   </div>
                 </div>

              {% endif %}
            </div>
          </div>
          <div class='lg--one-third sm--one-whole'>

            <div class='lg--pt-10 lg--pb-10 lg--pl-16 lg--pr-16 sm--pt-8 sm--pb-8 outer'>

              {% comment %}
              {% if settings.cart_notes_enable %}
                <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
              {% endif %}
              {% endcomment %}

              <div class='block mb-3'>
                <p class='caps fs-18 bold ls-16 block'>Order Summary</p>
              </div>

              <div class='f jcb x mb-8 c-gray'>
                <p>Subtotal:</p>
                <p class='js-subtotal'>{{ cart.total_price | money }}</p>
              </div>

              {% comment %}
              <p>{{ 'cart.general.subtotal' | t }}</p>
              <p>{{ cart.total_price | money }}</p>
              {% if cart.total_discounts > 0 %}
                <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
              {% endif %}
              <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
              {% endcomment %}

              {% comment %}
              <button type="submit" class="button rel x block ac b mb-2" name="update" value="{{ 'cart.general.update' | t }}">
                <div class="button__cta rel fs-24 ls-7 bold caps c-black p-2">Update</div>
              </button>
              {% endcomment %}

              <button type="submit" class="button rel x block ac b mb-2 fs-24 ls-8 bold caps c-black maisonneue p-2" name="checkout" value="{{ 'cart.general.checkout' | t }}"><span class='seesaw'>Continue to checkout</span></button>

              {% comment %}
              <input type="submit" name="update" value="{{ 'cart.general.update' | t }}">
              <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
              {% endcomment %}
            </div>

          </div>
        </div>

    </form>

</div>
