{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

{% comment %}
<h1>{{ page_title }}</h1>
{% endcomment %}

<div data-component='variants'>

  <div class='bt bb x mb-6'>

      <div class='pb-4 pt-4 block x js-toggle toggle'>
        <div class='outer'>
          <button class='x ac lg--fs-30 sm--fs-24 ls-10 maisonneuemono'><span class='coll-close'>{% include 'x' %}</span> Options</button>
        </div>
      </div>

      <div class='x pt-6 pb-6 js-toggle-container toggle__container'>
        <div class='outer'>
          <div class='lg--one-half push--lg--one-quarter'>
            <div class='f fw'>
              <div class='lg--one-half sm--one-whole pr-6 pl-6 sm--mb-6'>
                <span class='fs-26 bold caps ls-8 lg--mb-6 sm--mb-3 ac block'>Style</span>

                <ul class='filter filter__checkbox fs-26 semi ls-20'>
                  {% for product in products %}
                    <li class='filter-product js-filter-product' data-filter="{{ product.title | handleize }}">{{ product.title }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class='lg--one-half sm--one-whole'>
                <span class='fs-26 bold caps ls-8 lg--mb-6 sm--mb-3 ac block'>Color</span>

                <ul class='filter filter__radio f fw jcc'>
                  {% assign options = '' %}

                  {% for product in products %}
                    {% for product_option in product.options_with_values %}
                      {% if product_option.name == "Color" %}

                        {% for value in product_option.values %}
                          {% assign options = options | append: value | append: ',' %}
                        {% endfor %}

                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                  {% assign options = options | split: ',' %}
                  {% assign options = options | uniq %}

                  {% for op in options %}
                    {% if op contains 'Default Title' %}
                    {% else %}
                  <li class='js-filter-color filter-color bg-{{ op | handleize }}' data-filter="{{ op | handleize }}"></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>

  {% for product in products %}

      <div class='block lg--pt-12 {% if forloop.first %}{% else %}sm--pt-6{% endif %} pb-12 bb js-product product-item {{ product.title | handleize }} active'>
        <div class='outer'>
          <div class='pb-5 block x'>
            <h1 class='lg--fs-30 sm--fs-24 ls-30 semi caps'>{{ product.title }}</h1>
          </div>
          <div class='f fw grid'>

            {% for variant in product.variants %}
              <div class='lg--one-third sm--one-whole pb-14 grid__item js-variant variant-item active {{ variant.option1 | handleize }} {{ variant.option2 | handleize }} {{ variant.option3 | handleize }}'>

                <div class='block pb-7'>
                  <a href='{{ variant.url }}' class='block rel hover'>
                    <img class='block x' src='{{ variant.image | img_url: '1000x' }}' alt='{{ variant.image.alt | escape }}' />

                    {% assign index = 0 %}
                    {% assign variant_image_id = variant.image.id %}

                    {% for image in product.images %}
                      {% assign index = index | plus: 1 %}

                      {% if image.id == variant_image_id and product.images[index].attached_to_variant? == false %}
                        <img class='abs fill x y hover-image fit' src='{{ product.images[index] | img_url: '1000x' }}' alt='{{ image.alt | escape }}' />
                      {% endif %}
                    {% endfor %}

                  </a>
                </div>

                <a href='{{ variant.url }}' class='block ac fs-17 ls-16 semi '>
                  <span class='block'>{{ product.title }} - {{ variant.title }}</span>
                  <span class='block c-gray'>{{ variant.price | money_without_trailing_zeros }}</span>
                </a>
              </div>
            {% endfor %}

            {% comment %}

            {% endcomment %}

          </div>
          <div class='block'>
          </div>
        </div>
      </div>

  {% endfor %}

</div>
