{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

<div class='block pt-12 pb-12 bb'>
  <div class='outer'>
    <div class='pb-5 block x'>
      <h1 class='fs-34 ls-20 semi caps'>{{ page_title }}</h1>
    </div>
    <div class='x f fw grid'>

      {% for collection in collections %}
        <div class='lg--one-third pb-7 grid__item'>

          <div class='block pb-7'>
            {% if collection.image != blank %}
              <img class='block x' src='{{ collection | img_url: '1000x' }}' />
            {% elsif collection.products.first != blank %}
              <img class='block x' src='{{ collection.products.first | img_url: "1000x" }}' />
            {% else %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            {% endif %}
          </div>

          <div class='block ac fs-20 ls-17 semi '>
            <span class='block'><a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">{{ collection.title }}</a></span>
          </div>
        </div>
      {% endfor %}

      {% comment %}

      {% endcomment %}

    </div>
    <div class='block'>
    </div>
  </div>
</div>
