<div class='block bb pb-20'>
  <div class='outer f fw'>

    <div class='lg--one-third lg--pr-4'>
      <h1 class='fs-34 semi ls-2 sm--mb-8 caps'>{{ page.title }}</h1>
    </div>

    <div class='lg--two-thirds'>
      <div class='page-content'>
        {{ page.content }}
      </div>
    </div>

  </div>
</div>
