{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}


<img src='{{ "ttt.svg" | asset_url }}' class='ma block mb-20' />

<h2 class='mb-10'>{{ 'general.password_page.opening_soon' | t }}</h2>

<p class='mb-10 fs-20'>The Coterie Show<br>September 15 - 17, 2019 &dot; Jacob Javits Center, NYC</p>

{% unless shop.password_message == blank %}
  <p>
    {{ shop.password_message }}
  </p>
{% endunless %}

<div class='lg--one-half ma block'>
{% form 'customer' %}

  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <ul class="form-success mb-10">
      <li>{{ 'general.password_page.signup_form_success' | t }}</li>
    </ul>
  {% else %}
    {% comment %}
    <label for="email">
      {{ 'general.password_page.signup_form_email_label' | t }}
    </label>
    {% endcomment %}

    <div class='f x aic jcc pb-10 fw'>
      <div class='pr-4 sm--one-whole sm--pb-4'>
        <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
      </div>

      <div class='f sm--one-whole'>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <input type="email"
          name="contact[email]"
          id="Email"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off"
          placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
          class="bg-white x inline-block p-2">
        <button type="submit" name="commit" class="button bg-black c-white fs-16 caps">
          {{ 'general.password_page.signup_form_submit' | t }}
        </button>
      </div>
    </div>
  {% endif %}
{% endform %}
</div>

<div class='pb-20'>
<a href="#login" onclick='showLogin()'>
  {{ 'general.password_page.password_link' | t }} &rarr;
</a>
</div>

<style>
.show {
  display: block !important;
}
</style>

<script type='text/javascript'>

function showLogin() {
  document.getElementById("login").classList.toggle('show')
}

</script>
