<section class='cart-drawer-outer fix fill x z10' data-component='cartDrawer' id='cart-drawer'>
  <div class='cart-drawer-overlay abs fill js-overlay'></div>
  <div class='cart-drawer js-cart-drawer x f abs right bg-light-gray b js-drawer lg--p-10 sm--p-4'>
    <div class='rel x y f fdc'>
      <header class='maisonneuemono lg--fs-22 sm--fs-20 x f jcb aic mb-4'>
        <p>What's in your bag?</p>

        <div class='js-close close'></div>
      </header>

      <div class='cart-drawer__items x y fa mb-4 mb-4'>
        <div class='js-items rel x y'>
          <div class='abs fill'>
            <svg viewBox="0 0 100 86" class='loader abs fill mxa cg'>
              <use xlink:href="#logo"></use>
            </svg>
          </div>
        </div>
      </div>

      <footer class='ac block mt-4'>

        {%
        include 'component-button' with
        tag: 'a',
        cta: 'Continue to checkout',
        href: '/checkout',
        className: 'caps b inline-block x fs-24 ls-8 bold pt-2 pb-2 pl-2 pr-2 js-checkout',
        seesaw: true
        %}
      </footer>
    </div>
  </div>
</section>
