<div>
  <input
    id={{label}}
    type=radio
    name={{name}}
    value={{value}}
    class='none'
    {{ attributes }}
    {% if checked == true %}checked{% endif %}
  />
  <label class='radio f aic bg-{{ label | handleize }}' for={{label}}>
  </label>
</div>

{% assign label = blank %}
{% assign name = blank %}
{% assign value = blank %}
{% assign attributes = blank %}
{% assign checked = false %}
