{% comment %}
/components/counter.css
{% endcomment %}

<div class="counter-wrapper rel" data-component="productCounter">
  <div class="counter rel f aic">
    <button type="button" class="js-counter-remove">-</button>
    <input type="number" name="quantity" value="1" min="1" max="{{ current_variant.inventory_quantity }}" class="js-counter-quantity">
    <button type="button" class="js-counter-add">+</button>
  </div>
</div>
