<svg width="56px" height="46px" viewBox="0 0 56 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="Product-Page---Mobile" transform="translate(-68.000000, -78.000000)" stroke="#000000" stroke-width="4">
            <g id="Group" transform="translate(70.000000, 80.000000)">
                <path d="M0,0.5 L52,0.5" id="Line-12"></path>
                <path d="M0,20.5 L52,20.5" id="Line-12-Copy"></path>
                <path d="M0,41.5 L52,41.5" id="Line-12-Copy-2"></path>
            </g>
        </g>
    </g>
</svg>
