
<svg width="23px" height="33px" viewBox="0 0 23 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <polygon id="path-1" points="0 0 23 0 23 33 0 33"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer---Wholesale-on-click-or-rollover" transform="translate(-469.000000, -560.000000)">
            <g id="Group-3" transform="translate(469.000000, 560.000000)">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-2"></g>
                <path d="M2.97190205,27.0665025 C1.50372588,24.0269456 0.249708799,21.1419085 0.173116139,20.8595798 C-0.215253703,19.4355863 -0.00560006839,17.6815871 1.37306782,17.1962001 C2.59794965,16.7645216 3.87509472,17.9489808 5.16966086,20.7162614 C6.4486081,23.4502254 7.61521945,25.2151386 7.62693362,25.2326585 C7.68220048,25.3153754 7.78762802,25.3538617 7.88584685,25.3265766 C7.9846664,25.2992915 8.05284888,25.2134154 8.05344961,25.1154763 C8.0543507,24.9865185 8.12824009,12.1984369 8.05344961,9.7617365 C7.97775804,7.30378249 7.97775804,4.07926161 7.97775804,2.52946962 C7.97775804,1.16234399 8.98637825,0.434263434 9.71475943,0.434263434 C10.3761596,0.434263434 11.1489945,0.944925064 11.1489945,2.38471514 C11.1489945,3.88912775 11.4487572,24.4034796 11.4514605,24.6102717 C11.4532626,24.7311877 11.5565876,24.8282651 11.6830406,24.8282651 L11.6836413,24.8282651 C11.810695,24.8279779 11.9134193,24.7300388 11.9140201,24.6085485 C11.9155219,24.4046285 12.0654032,4.17691344 12.0654032,2.60184686 C12.0654032,1.40159098 12.5303657,0 13.8405507,0 C14.8188342,0 15.2366397,0.648235827 15.2366397,2.16758342 C15.2366397,3.11078522 15.306324,12.7714233 15.35258,19.1638845 C15.3730047,22.0193389 15.3880228,24.0826646 15.3880228,24.172849 C15.3880228,24.2317273 15.4123523,24.2894567 15.455905,24.3308152 C15.4991573,24.3721736 15.5580285,24.397161 15.6193026,24.397161 C15.7544661,24.397161 15.8100334,24.397161 15.8343628,24.1745722 L15.8505824,24.174285 C15.8505824,24.1561907 15.8499817,24.0642831 15.8490806,23.9068913 C15.8529853,23.7532333 15.8538864,23.5518982 15.8550879,23.2870894 L15.8983402,13.7407614 C15.9277758,7.16620829 15.9451969,3.04271615 15.9451969,2.71069993 C15.9451969,2.01593587 16.3476838,0.108565858 17.6443525,0.108565858 C18.5169081,0.108565858 19.4002768,0.759961009 19.4002768,2.00473463 C19.4002768,2.44847604 19.3564237,5.1652074 19.3008565,8.60456231 C19.0470494,24.3451757 19.0704778,24.3905551 19.1218399,24.4887814 C19.1698981,24.580689 19.2786296,24.6295149 19.3831561,24.6062508 C19.4669574,24.5872948 19.5156163,24.5763808 19.5501581,24.3558025 L19.5564657,24.3546537 C19.5555646,24.348335 19.5549639,24.3388571 19.5543632,24.3273686 C19.5991173,24.0074153 19.6201428,23.2928336 19.6679005,21.6565911 C19.7156583,20.0105833 19.772427,17.8093962 19.826192,15.5837961 C19.9358247,11.0854932 20.0331424,6.58115894 20.0331424,6.18509461 C20.0331424,5.42858013 20.4800831,4.01751118 21.3346169,4.01751118 C22.5513889,4.01751118 22.8066978,5.1370607 22.8066978,6.07624154 C22.8066978,6.37551567 22.8208149,7.54618879 22.842441,9.31799509 C22.9160301,15.3833226 23.1070612,31.1365733 22.9208359,32.9284844 C21.1595051,32.9368135 7.89005193,33 6.34588383,33 C6.26208245,32.9661091 5.59918048,32.5074327 2.97190205,27.0665025" id="Fill-1" fill="#000000" mask="url(#mask-2)"></path>
            </g>
        </g>
    </g>
</svg>
