
<svg width="37px" height="22px" viewBox="0 0 37 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer---GI-on-click-or-rollover-Copy" transform="translate(-866.000000, -570.000000)" fill="#000000">
            <g id="Group-5" transform="translate(866.000000, 570.000000)">
                <path d="M22,11.4989329 C22,13.4334684 20.4334684,15 18.5007622,15 C16.5686659,15 15,13.4334684 15,11.4989329 C15,9.56653164 16.5686659,8 18.5007622,8 C20.4334684,8 22,9.56653164 22,11.4989329" id="Fill-1"></path>
                <path d="M18.5009551,18.0995832 C14.4432952,18.0995832 11.1564156,14.9204174 11.1564156,10.9987692 C11.1564156,7.07927494 14.4432952,3.90041679 18.5009551,3.90041679 C22.5563864,3.90041679 25.845813,7.07927494 25.845813,10.9987692 C25.845813,14.9204174 22.5563864,18.0995832 18.5009551,18.0995832 M18.5009551,0 C8.28214704,0 0,10.9987692 0,10.9987692 C0,10.9987692 8.28214704,22 18.5009551,22 C28.717853,22 37,10.9987692 37,10.9987692 C37,10.9987692 28.717853,0 18.5009551,0" id="Fill-3"></path>
            </g>
        </g>
    </g>
</svg>
