{% if file != blank %}
  {% assign fsrc = file | file_url %}
{% endif %}
{% if asset != blank %}
  {% assign asrc = asset | asset_url %}
{% endif %}
{% if size == blank %}
  {% assign size = '1200x' %}
{% endif %}
{% if product != blank %}
  {% assign psrc = product | img_url: size %}
{% endif %}
{% assign _src = src | default: fsrc | default: asrc | default: psrc %}

<div class='image {{ className }}' data-alt='{{ alt }}'>
  <img class='block z1 {% if fill == true %}x y abs fill{% else %}x y rel{% endif %}' src='{{_src}}' alt='{{ alt }}' data-asrc='{{ asrc }}' />
</div>

{% comment %}
<pre>
  DEBUG image.liquid

  src:{{ src }}
  file:{{ file }}
  asset:{{ asset }}
  size:{{ size }}
  product:{{ product }}
  _src:{{ _src }}
</pre>
{% endcomment %}

{% assign fsrc = blank %}
{% assign asrc = blank %}
{% assign psrc = blank %}
{% assign size = blank %}
{% assign _src = blank %}
