<section data-component='pdpHero' class='pb-20 rel bb lg--pt-2'>

    <div class='outer x'>
      <div class='container mxa'>
        <div class='slater-product f fw rel'>

          {% comment %}
          <div class='block x'>
            <div class='f aic jcb mb-6 lg--hide'>
              <h1 class="fs-34 semi ls-25 caps lh-10">{{ product.title }}</h1>

              <div class='fs-24 ls-25 lh-10 c-gray'>
                <span class='js-price' data-price>{{ current_variant.price | money_without_trailing_zeros }}</span>
                <s data-compare-price style='display: none' class='js-compare-price'>{{ current_variant.compare_at_price | money }}</s>
              </div>
            </div>
          </div>
          {% endcomment %}

          <div class='product__images rel y x lg--seven-twelfths f sm--fdcr sm--mb-10'>

            <div class='rel'>
              <div class='product__slider__nav lg--abs sm--jcc fill z1 f aic lg--fdc sm--pt-4 sm--ac'>

                  {% assign i = 0 %}
                  {% assign is_first = true %}

                  {% for image in product.images %}
                    {% if image.attached_to_variant? %}
                      {% assign variant_id = image.variants[0].id %}
                      {% assign index = 0 %}
                      <div class='pdp-thumbnails js-thumbnails-{{ variant_id }} {% if is_first %}active{% assign is_first = false %}{% endif %}'  data-id='{{ variant_id }}'>
                    {% endif %}

                    <div class='product__slider__item sm--p-3 thumbnail-slider {% if index == 0 %}active{% endif %} js-thumbnail js-thumbnail-{{ variant_id }}' data-index='{{ index }}'>
                      <button class='rel x y block {% if forloop.first %}is-active{%endif%}'>
                        <div class='__frame abs fill'>
                          {%
                            include 'image' with
                            product: image.src,
                            size: 'master',
                            alt: image.alt | escape,
                            fill: true,
                            className: ''
                          %}
                        </div>
                      </button>
                    </div>

                    {% assign index = index | plus: 1 %}
                    {% assign i = i | plus: 1 %}

                    {% if product.images[i].attached_to_variant? or forloop.last %}
                      </div>
                    {% endif %}

                  {% endfor %}

              </div>
            </div>
            <div class='rel fa overflow--hidden'>
              <div class='product__slider block rel x js-product-slider z0'>

                {% assign i = 0 %}
                {% assign is_first = true %}

                {% for image in product.images %}
                  {% if image.attached_to_variant? %}
                    {% assign variant_id = image.variants[0].id %}
                    {% assign index = 0 %}
                    <div class='pdp-slider js-slider-{{ variant_id }} {% if is_first %}active{% assign is_first = false %}{% endif %}' data-id='{{ variant_id }}'>
                  {% endif %}

                    <div class='x sm--p-3 js-image js-image-{{ variant_id }}' data-index='{{ index }}' tabindex="-1">
                      <img class='block z1 {% if fill == true %}x y abs fill{% else %}x y rel{% endif %} zoomable' data-zoom-image='{{ image.src | img_url: "master" }}' src='{{ image.src | img_url: "master" }}' alt='{{ alt }}' />
                    </div>

                  {% assign index = index | plus: 1 %}
                  {% assign i = i | plus: 1 %}

                  {% if product.images[i].attached_to_variant? or forloop.last %}
                    </div>
                  {% endif %}

                {% endfor %}

              </div>
            </div>
          </div>

          <div class='slater-product__info  lg--five-twelfths' data-component='productSelection'>
            <div class='outer--inner x'>
              <div class='slater-product__info__inner mxa lg--pl-10 lg--pr-10 lg--pb-10 js-desc desc desc-1'>

                <div class='f aic jcb mb-6 sm--hide'>
                  <h1 class="fs-34 semi ls-25 caps lh-10">{{ product.title }}</h1>

                  <div class='fs-24 ls-25 lh-10'>
                    <span class='js-price' data-price>{{ current_variant.price | money_without_trailing_zeros }}</span>
                    <s data-compare-price style='display: none' class='js-compare-price'>{{ current_variant.compare_at_price | money }}</s>
                  </div>
                </div>

                <div class='f pt-2 pb-2 fs-18 bold ls-16 caps bb x mb-6 lh-10'>
                  <div class='pr-6 br js-title desc-title desc-title-1' data-desc='1'>
                    <span>Overview</span>
                  </div>
                  <div class='pr-6 pl-6 js-title desc-title desc-title-2' data-desc='2'>
                    <span>In the Bag</span>
                  </div>
                </div>

                <div class="rte c-dark-gray mb-10 pdp__content desc-body desc-body-1">
                  {{ product.description }}
                </div>

                <div class="rte c-dark-gray mb-10 pdp__content desc-body desc-body-2">
                  {{ product.metafields.accentuate.description }}
                </div>

                <div class='block x'>
                  <div class='f aib jcb mb-10 lg--hide'>
                    <h1 class="lg--fs-34 sm--fs-28 semi ls-25 caps lh-10">{{ product.title }}</h1>

                    <div class='lg--fs-24 sm--fs-18 ls-25 lh-10 c-gray'>
                      <span class='js-price' data-price>{{ current_variant.price | money_without_trailing_zeros }}</span>
                      <s data-compare-price style='display: none' class='js-compare-price'>{{ current_variant.compare_at_price | money }}</s>
                    </div>
                  </div>
                </div>

                <form action='/cart/add' method='post' enctype='multipart/form-data' class='js-add-to-cart-form'>

                  {% include 'product-options' %}

                  <!-- Quantity -->

                  <div class='f jcb mb-6 x'>
                    <div class='fs-18 bold ls-16 caps'>
                      Quantity
                    </div>
                    <div>
                      {% include 'component-counter' %}
                    </div>
                  </div>

                  <div class='product__form__submit __row f aic jcb'>
                    <button type='submit' class='js-cta-button button rel x block ac b pt-2 pb-2' {% unless current_variant.available %}disabled{%endunless%}>
                      <div class='button__cta lh-17 maisonneue js-cta rel fs-24 ls-8 bold caps c-black seesaw' data-cta='Add to Bag'>Add to Bag</div>
                    </button>
                  </div>

                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <script class='js-inventory' type='application/json'>
      {
        "variants": [
          {% unless product.has_only_default_variant %}
            {% for variant in product.variants %}
              {
                "id": {{ variant.id | json }},
                "inventory_quantity": {{ variant.inventory_quantity | json }},
                "inventory_policy": {{ variant.inventory_policy | json }},
                "incoming": {{ variant.incoming | json }},
                "next_incoming_date": {{ variant.next_incoming_date | date: '%B %-d' | json }}
              }{% unless forloop.last %},{% endunless %}
            {% endfor %}
          {% endunless %}
        ]
      }
    </script>

    <script class='js-meta' type='application/json'>
      {
        "variants": [
          {% unless product.has_only_default_variant %}
            {% for variant in product.variants %}
                {
                  "id": {{ variant.id | json }},
                  "title": "{{ variant.title }}"
                }{% unless forloop.last %},{% endunless %}
            {% endfor %}
          {% endunless %}
        ]
      }
    </script>


</section>

<section class='back bb pt-4 pb-4'>
  <div class='outer x ac'>
    <a href='/collections/all' class='caps fs-34 ls-8 bold'><div class='seesaw'>Back to Shop</div></a>
  </div>
</section>
