<div class='product-options-wrapper rel'>
  {% unless product.has_only_default_variant %}

      <div class='mb-5'>

        {% for option in product.options_with_values %}
          <div class='f jcb x mb-5'>

            <label class='fs-18 bold ls-16 caps'>{{ option.name }}</label>

            <div class='radio-group f aic' data-option-radio data-index={{ forloop.index0 }}>
              {% for value in option.values %}

                {% assign checked = false %}

                {% if option.selected_value == value %}
                  {% assign checked = true %}
                {% endif %}

                {%
                  include 'component-radio' with
                  label: value,
                  value: value,
                  name: option.name,
                  checked: checked
                %}
              {% endfor %}
            </div>

          </div>
        {% endfor %}
      </div>
    {% endunless %}

  {%- capture options -%}
    {% for variant in product.variants %}
      <option value='{{ variant.id }}'
        {% if variant == product.selected_or_first_available_variant %}selected{% endif %}
        {% unless variant.available %}disabled{% endunless %}>{{ variant.title }}</option>
    {% endfor %}
  {%- endcapture -%}

  {%
    include 'component-select' with
    name: 'id'
    options: options
    placeholder: 'Select Option'
    className: 'js-variant'
    required: true
    attributes: 'data-option-main',
    className: 'none',
    placeholder: false,
    disabled: false,
    selectorClass: 'h6 caps semi'
  %}
</div>
