<ul class='slider-dots abs left bottom right f aic jcc x js-slider-dots none'>
  {% for i in (1..length) %}
    <li class='{% if i == 1 %}is-selected{% endif %}'><button>&nbsp;</button></li>
  {% endfor %}
</ul>
