<svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="Shop---Mobile" transform="translate(-374.000000, -259.000000)" stroke="#000000" stroke-width="4">
            <g id="Group" transform="translate(376.000000, 243.000000)">
                <g id="plus-copy" transform="translate(0.000000, 18.000000)">
                    <path d="M20,0.25 L20,40" id="Line-5"></path>
                    <path d="M20,0 L20,40" id="Line-5" transform="translate(20.000000, 20.000000) rotate(-90.000000) translate(-20.000000, -20.000000) "></path>
                </g>
            </g>
        </g>
    </g>
</svg>
