.cart-drawer {
  height: auto;
  max-height: calc(100vh - 69px);

  @media (--750) {
    max-height: calc(100vh - 184px);
  }

  > div {
    max-height: -webkit-fill-available;
  }

  .js-add-single {
    position: relative;
    top: 1px;
  }
}

.cart-quantity {
  cursor: pointer;
  /* color: var(--gray); */
}


.js-counter-add {
  position: relative;
  top: -1px;
}

.cart-drawer-outer {
  display: none;
  -webkit-overflow-scrolling: touch;

  &.is-active {
    display: block;
  }
  &.is-visible {
    .cart-drawer {
      transform: translateX(0);
    }
    .cart-drawer-overlay {
      opacity: 0.8;
    }
  }
}
.cart-drawer-overlay {
  opacity: 0;
  transition: all var(--slow) var(--ease);
}
.cart-drawer {
  max-width: 400px;
  transition: all var(--slow) var(--ease);
  transform: translateX(100%);
  flex-direction: column;
  /* padding-bottom: 160px; */
  top: 69px;

  @media (--750) {
    top: 184px;
  }

  header {
    /* border-bottom: 1px solid var(--gray); */
    /* height: 75px; */

    @media (--m) {
      height: 100px;
    }

    button {
      height: 30px;
      width: 30px;

      &:focus {
        outline: 1px dashed var(--gray);
      }

      svg {
        height: 15px;
        width: 15px;
      }
    }
  }
}
.cart-drawer__items {
  overflow-y: auto;
  /* padding-top: 75px; */

  @media (--m) {
    padding-top: 100px;
  }

  svg.loader {
    width: 100px;
    height: 100px;
    animation-duration: 1.5s;
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
}

.cart-drawer__item {
  padding: 2.5em 0;
  border-top: 3px solid var(--black);

  &:first-child {
    border-top: 0;
  }

  img {
    width: 150px;
  }

  button {
    /* top: 1.5em; */

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
.cart-drawer__item__remove {
  /* top: 1.5em; */

  svg {
    width: 10px;
    height: 10px;
  }
}

.button--reset {
  top: 3px;
  padding: 0;

  svg {
    transform: rotate(45deg);
  }
}

.close {
  position: relative;
  width: 20px;
  height: 20px;
  /* opacity: 0.3; */
  transition: all 0.3s;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 8px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color: #333;
  /* background-color: #000; */
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
