/* .slater-footer {
}
.slater-footer__inner {
  border-top: 2px solid var(--black);
  height: 65px;
  @media (--600) {
    height: 80px;
  }
} */

.footer__logo {
  width: 145px;
  max-width: 100%;
}

.word-break {
  word-break: break-word;
}

.footer-popup {
  transition: all 0.3s;
  width: 300px;
  border: 3px solid #000;
  right: -350px;
  top: 0;

  @media (--750) {
    top: auto;
    right: auto;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
  }
}


.footer-popup-toggle {
  &.open {
    & + .footer-popup {
      right: 0;

      @media (--750) {
        bottom: 0;
        right: auto;
      }
    }
  }
}

.icon-eye {
  width: 37px;
}

.newsletter-form {
  width: 400px;
  max-width: 100%;
  margin: auto;

  @media (--750) {
    width: 100%;
  }
}
