.slater-header {
}

.slater-header__inner {
  /* border-bottom: 2px solid var(--black); */
  /* height: 65px; */
  /* @media (--600) {
    height: 80px;
  } */
  /* padding: 70px 0; */
  transition: all 0.3s;

  li {
    a.active {
      {
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -7.5px;
          left: 0;
          right: 0;
          background-color: #000;
        }
      }
    }
  }
}

.logo {
  /* width: 200px; */
  max-width: 100%;
  padding: 0 10px;

  img {
    max-width: 100%;
    width: 400px;
    display: block;
    transition: all 0.3s;
    margin: auto;
  }

  @media (--750) {
    padding: 0 30px;
  }
}

.site-header--open {
  .logo {
    img {
      @media (--750) {
        width: 325px;
        max-width: 100%;
      }
    }
  }
}

/**
 * a placeholder element to "naturally" fill the space
 * beneath a fixed nav
 */
/* .slater-header__spacer {
  height: 65px;
  @media (--600) {
    height: 80px;
  }
} */

.bag {
  cursor: pointer;
  max-width: 28px;

  span {
    left: 50%;
    top: 49.5%;
    transform: translate(-50%, -50%);
  }
}
