.page-transition {
  transition: all var(--slow) var(--ease);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(100%);
  &.cover {
    transform: translateY(0);
  }
}
