/* .slater-product {
  padding: 32px 0;
  @media (--1000) {
    > div {
      width: 48%;
    }
  }
} */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.product__images{
  /* overflow: hidden; */
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 1s;

  @media (--750) {
    > div {
      &:first-of-type {
        flex: 0 0 100px;
      }
    }
  }
}

.radio-group {
  label {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }

  input {
    &:checked {
      ~ label {
        &:after {
          content: '';
          position: absolute;
          top: -3px;
          left: -3px;
          bottom: -3px;
          right: -3px;
          border: 1px solid #9e9e9e;
          border-radius: 50%;
        }
      }
    }
  }
}

.zoomContainer {
  display: none;

  @media (--750) {
    display: block;
  }
}
