.collection {
  padding: 32px 0;
}
.collection__grid {
}
.collection__grid__row {
  margin-left: -1em;
  margin-right: -1em;
}
.collection__grid__item {
  padding: 0 1em;
  margin-bottom: 32px;
  width: 100%;

  @media (--400) {
    width: 50%;
  }
  @media (--750) {
    width: 33.333333%;
  }
  @media (--1200) {
    width: 25%;
  }
}

.filter__checkbox {
  li {
    padding-left: 40px;
    margin-bottom: 20px;
    position: relative;

    &:after {
      content: '';
      border: solid 2px #919191;
      width: 26px;
      height: 26px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &.active {
      &:before {
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--black);
      }
    }
  }
}


.filter__checkbox {
  max-width: 250px;
  display: block;
  margin: auto;
}


.filter__radio {
  li {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50%;
  }
}

.coll-close {
  position: relative;

  svg {
    width: 20px;
    height: 20px;
    transition: all 0.3s;
  }
}

.open {
  .coll-close {
    svg {
      transform: rotate(45deg);
    }
  }
}

.toggle__container {
  display: none;
}

.toggle {
  cursor: pointer;

  &.open {
    .close {
      svg {
        transform: rotate(45deg);
      }
    }

    & ~ .toggle__container {
      display: block;
    }
  }
}

.hover-image {
  opacity: 0;
  transition: all 0.3s;
  z-index: 5;
}

.hover {
  &:hover {
    .hover-image {
      opacity: 1;
    }
  }
}

.filter-product, .filter-color {
  cursor: pointer;
}

.filter-color {
  position: relative;

  &.active {
    &:after {
      content: '';
      position: absolute;
      left: -3px;
      top: -3px;
      right: -3px;
      bottom: -3px;
      border-radius: 50%;
      border: 1px solid #9e9e9e;
      background: transparent;
    }
  }
}

.product-item, .variant-item {
  display: none;

  &.active {
    display: block;
  }
}
