<div class='block bb pb-5'>
  <div class='outer f fw'>

    <div class='container ma x lg--pb-15 sm--p-4 sm--mb-6'>
      <div class='lg--two-thirds ac block ma lg--fs-35 sm--fs-24 lh-16 lg--pt-8 lg--pb-8 maisonneuemono'>
        {{ section.settings.title }}
      </div>
    </div>

    <div class='x lg--pb-20 sm--pb-10'>
      <img src='{{ section.settings.image | img_url: "2000x" }}' class='ma' />
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "About- Banner",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
