<div class='block bb rel'>
  <div id='stockists'></div>
  <div class='x f fw'>
    <div class='lg--one-half f aic sm--bb'>
      <div class='lg--p-20 sm--p-10'>
        <div class='block ma'>
          <img src='{{ section.settings.image | img_url: "2000x" }}' class='ma' />
        </div>
      </div>
    </div>
    <div class='lg--one-half sm--one-whole f aic jcc bl'>
      <div class='lg--p-20 sm--p-10 outer x'>
        <div class='block ma sm--one-whole'>
          <h3 class='caps fs-18 bold ls-16 mb-4'>{{ section.settings.title }}</h3>

          <ul class='fs-18 semi lh-16'>
            {% for block in section.blocks %}
              <li class='ls-13 pb-3'>{{ block.settings.title }}</li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About - Stockists",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "stockist",
        "name": "stockist",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ]
  }
{% endschema %}
