<div class='block bb' {% if section.settings.hide_ig %}style='display: none'{% endif %}>
  <div class='outer sm--p-10'>
    <div class='f fw aic x lg--jca lg--pb-6 lg--pt-6'>
      {% for block in section.blocks %}
        <div class='{% if forloop.first %}{% else %}sm--pt-6{% endif %} lg--pt-6 {% if forloop.last %}{% else %}sm--pb-6{% endif %} lg--pb-6 pr-6'>
          <span class='block caps bold lh-16 fs-18 mb-1 ls-17'>{{ block.settings.title }}</span>
          <span class='block lh-16 semi fs-18'>{{ block.settings.content }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About - Callouts",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_ig",
        "label": "Hide Section"
      }
    ],
    "blocks": [
      {
        "type": "callout",
        "name": "callout",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
