<div class='block bb'>
  <div class='x f fw'>
    <div class='lg--one-half f aic sm--bb'>
      <div class='lg--pl-25 lg--pr-25 lg--pt-20 lg--pb-20 sm--p-10'>
        <div class='block ma lh-15'>
          {{ section.settings.title }}
        </div>
      </div>
    </div>
    <div class='lg--one-half sm--one-whole f aic jcc bl'>
      <div class='lg--p-20 sm--p-10'>
        <div class='block ma'>
          <img src='{{ "TTT_ABOUT_PATTERN.svg" | asset_url }}' class='ma about-content-image' />
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About - Content",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
