<div class='block bb'>
  <div class='outer ac fs-22 lh-18 pt-10 pb-10 __links-have-underline maisonneuemono'>
    {% comment %}{{ section.settings.title }}{% endcomment %}
    <p>website + creative by <a href='https://butterstudio.nyc' target='_blank'>Butter Studio</a></p>
  </div>
</div>

{% schema %}
  {
    "name": "About - Text",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      }
    ]
  }
{% endschema %}
