<section class='banner bb' data-component='banner'>
  <div class='lg--pl-20 lg--pr-20 sm--pl-6 sm--pr-6'>

    <div class='x lg--pt-16 lg--pb-26 sm--pb-10 sm--pt-4'>
      <img src='{{ section.settings.image | img_url: "master" }}' class='ma banner-logo' style='max-width: {{ section.settings.logo_width }}px;' />
    </div>

    <div class='x pb-20 sm--pb-10'>
      {% if section.settings.use_slider %}
      {% if section.blocks.size > 0 %}
        <div class='js-banner banner-container overflow--hidden rel'>
          {% for block in section.blocks %}
            <div class='banner-slide rel'>
              <img src='{{ block.settings.image | img_url: "2000x" }}' class='abs fill x y fit' />
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% else %}
      <img src='{{ section.settings.image | img_url: "2000x" }}' class='ma' />
      {% endif %}
    </div>
    <div class='x ac pb-20 sm--pb-10 sm--pr-6 sm--pl-6'>
      <p class="fs-35 lh-15 sm--fs-26 maisonneuemono">{{ section.settings.title }}</p>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "use_slider",
        "label":     "Use slider?",
        "default":   false
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type":      "range",
        "id":        "logo_width",
        "min":       100,
        "max":        300,
        "step":       5,
        "unit":       "px",
        "label":     "Logo Width",
        "default":   200
      },
      {
        "type": "text",
        "id": "title",
        "label": "Slogan"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}
