{% assign padding = section.settings.callouts_padding | divided_by: 5 %}

<section class='featured-collection bb f fw sm--pt-15 sm--pb-15'>
  {% for block in section.blocks %}
    <div class='lg--one-third sm--one-whole lg--bl ac {% if forloop.last %}{% else %}sm--pb-4{% endif %}'>
      <div class='lg--p-{{ padding }} sm--pl-6 sm--pr-6 ac'>
        <span class='fs-22 lh-17 maisonneuemono'>{{ block.settings.title }}</span>
      </div>
    </div>
    {% endfor %}
</section>

{% schema %}
  {
    "name": "Callouts",
    "settings": [
      {
        "type":      "range",
        "id":        "callouts_padding",
        "min":       0,
        "max":       100,
        "step":       5,
        "unit":       "px",
        "label":     "Callouts Padding",
        "default":   100
      }
    ],
    "blocks": [
      {
        "type": "callout",
        "name": "callout",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Callouts"
      }
    ]
  }
{% endschema %}
