{% if section.blocks.size == 3 %}
  {% assign col_width = 'lg--one-third' %}
{% elsif section.blocks.size == 2 %}
{% assign col_width = 'lg--one-half' %}
{% endif %}

<section class='featured-collection f fw'>
  {% for block in section.blocks %}

    {% if block.settings.text != blank %}
      {% assign has_cta = true %}
    {% else %}
      {% assign has_cta = false %}
    {% endif %}

    <div class='{{ col_width }} sm--one-whole bl {% if forloop.last %}sm--hide{% endif %} bb'>
      <div class='y {% if has_cta == false %}f jcc aic{% else %}f fdc{% endif %}'>
        <div class='{% if section.blocks.size == 3 %}lg--p-14{% else %}lg--p-20{% endif %} sm--p-12 x fa f fdc aic'>
          <div class='featured-collection__item block ma x rel {% if has_cta == false %}y{% endif %}'>

            {% if block.settings.content_type == 'image' %}
              <a href="{{ block.settings.url }}" target="_blank" class='block {% if has_cta == true %}square{% endif %}'>
                <img src="{{ block.settings.image | img_url: '800x' }}" class='abs fill fit x y'>
              </a>
            {% elsif block.settings.content_type == 'text' %}
              <div class='rel x p-4 f aic {% if has_cta == true %}fa{% endif %}'>
                <div class='rel x lg--fs-24 lh-2'>
                  {{ block.settings.content }}
                </div>
              </div>
            {% endif %}

          </div>
        </div>
        {% if has_cta == true %}
        <div class='x ac p-4 sm--p-4 caps bold lg--fs-34 sm--fs-28 ls-10 bt'>
          <a href='{{ block.settings.url }}' target="_blank"><div class='seesaw'>{{ block.settings.text }}</div></a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
</section>

{% schema %}
  {
    "name": "Featured Collections",
    "blocks": [
      {
        "type": "collection",
        "name": "collection",
        "settings": [
        {
           "type":      "select",
           "id":        "content_type",
           "label":     "Content Type",
           "options": [
             {
               "group": "value",
               "value": "image",
               "label": "Image"
             },
             {
               "group": "value",
               "value": "text",
               "label": "Text"
             }
           ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Collections"
      }
    ]
  }
{% endschema %}
