<footer class='slater-footer overflow--hidden' data-component='footer'>

  <div class='x f fw'>
    <div class='lg--five-twelfths bl f aic bb sm--one-whole'>
      <div class='x lg--p-10 sm--pt-6 sm--pb-6 f outer'>
        {% form 'customer', class: 'f aic pb-3 pt-3 newsletter-form' %}
          <input placeholder='get on the list' name=contact[email] type='email' spellcheck='false' autocomplete='off' autocapitalize='off' required class='fa lg--fs-22 sm--fs-16 lh-20 ls-8 maisonneuemono' />
          <button type='submit' class='caps lg--fs-26 sm--fs-22 bold ls-8 c-black bg-light-gray'><div class='seesaw'>submit</div></button>
        {% endform %}
      </div>
    </div>
    <div class='lg--two-twelfths bl bb sm--hide'>
      <div class='lg--p-10 sm--pt-6 sm--pb-6 outer x y f aic'>
        <img src='{{ "TTT_BLINK.gif" | asset_url }}' class='ma block footer__logo' />
      </div>
    </div>
    <div class='lg--four-twelfths sm--one-whole bl f aic bb'>
      <div class='lg--p-10 sm--pt-6 sm--pb-6 outer x ac'>
        <div class='fs-22 lh-20 ls-8 maisonneuemono word-break'>{{ section.settings.content }}</div>
      </div>
    </div>
    <div class='lg--one-twelfth sm--one-whole bl f fdc sm--fdr'>
      <div class='x fa ac bb f aic jcc sm--one-half sm--br'>
        <div class='p-6'>
          <a href='{{ section.settings.instagram }}' class='caps bold fs-34 ls-10 c-black seesaw block'>IG</a>
        </div>
      </div>
      <div class='x fa ac f aic jcc bb sm--one-half'>
        <div class='p-6'>
          <a href='{{ section.settings.facebook }}' class='caps bold fs-34 ls-10 c-black seesaw block'>FB</a>
        </div>
      </div>
    </div>
  </div>

  <div class='outer--lg'>
    <div class='x f fw sm--aic sm--pt-6 sm--pb-6'>

      <div class='lg--hide sm--one-half'>
        <div class='lg--p-10 sm--pt-6 sm--pb-6 outer x'>
          <img src='{{ "TTT_BLINK.gif" | asset_url }}' class='ma block footer__logo' />
        </div>
      </div>

      <div class='lg--one-whole sm--one-half sm--pl-2 sm--rel sm--pr-2'>
        {% assign footer_menu = section.settings.footer_menu %}
        {% if linklists[footer_menu].links.size > 0 %}
          <ul class='f lg--aic x lg--jca sm--fdc'>
            {% for link in linklists[footer_menu].links %}
              <li class='lg--ac lg--pb-6 lg--pt-6 footer-item lg--one-quarter {% if forloop.last %}{% else %}sm--pb-4{% endif %} maisonneuemono lg--fs-18 sm--fs-16 lg--rel'>
                <a href="{{ link.url }}" class='{% if link.title == "general inquiries" or link.title == "wholesale inquiries" %}footer-popup-toggle{% endif %}' data-popup='{{ link.title | handleize }}'>{{ link.title }}</a>

                {% if link.title == 'general inquiries' %}
                <div class='footer-popup ac p-6 abs bg-light-gray' data-popup='{{ link.title | handleize }}'>
                  <div class='block mb-2'><div class='block icon-eye ma'>{% include 'icon-eye' %}</div></div>
                  <div class='block mb-1 caps maisonneue lg--fs-24 sm--fs-18 ls-8 bold'>Email us at</div>
                  <div class='block maisonneue lg--fs-18 sm--fs-15 lh-15'>info@tictactoeinc.com</div>
                </div>
                {% endif %}

                {% if link.title == 'wholesale inquiries' %}
                <div class='footer-popup ac p-6 abs bg-light-gray' data-popup='{{ link.title | handleize }}'>
                  <div class='block mb-2'><div class='block icon-eye ma'>{% include 'icon-hand' %}</div></div>
                  <div class='block mb-1 caps maisonneue lg--fs-24 sm--fs-18 ls-8 bold'>Email us at</div>
                  <div class='block maisonneue lg--fs-18 sm--fs-15 lh-15'>info@tictactoeinc.com</div>
                </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_menu",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "header",
        "content": "Footer Content"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "url",
        "id": "instagram",
        "label": "Instagram"
      },
      {
        "type": "url",
        "id": "facebook",
        "label": "Facebook"
      }
    ]
  }
{% endschema %}
