{% comment %}
  Considerations for the header:
    1. Schema.org tags
      - <h1 itemscope itemtype='http://schema.org/Organization'>
      - itemprop [url, logo] etc
{% endcomment %}

<header role='banner' id='header' data-component='header' class='slater-header z10 x fix top left right bg-light-gray bl bt br'>
  <div class='outer'>

    <div class='slater-header__inner f jcb aic pt-14 pb-14 sm--pt-2 sm--pb-2'>

      <div class='sm--one-sixth lg--one-third'>
        <ul class='f fw fs-19 maisonneuemono sm--hide'>
          {% for link in linklists.main-menu.links %}
            <li class='pr-10 mb-2 mt-2'><a href='{{ link.url }}' class='rel js-menu-item menu-item {% if link.active %}active{% endif %}'>{{ link.title }}</a></li>
          {% endfor %}
        </ul>

        <div class='lg--hide rel z8'>
          <div class='hamburger js-hamburger rel z10'>
            {% include 'hamburger' %}
          </div>

          {% include 'mm' %}
        </div>
      </div>

      <div class='sm--four-sixths lg--one-third'>
        <div class='logo ma block'>
          <a href='{{ shop.url }}' class='js-menu-item'>
            <img src='{{ "logo.svg" | asset_url }}' />
          </a>
        </div>
      </div>


      <div class='sm--one-sixth lg--one-third'>
        <ul class='f fw aic lg--fs-19 sm--fs-16 x jce maisonneuemono nav__left'>
          <li class='sm--hide pr-10 mb-2 mt-2'>
            <a href='{{ settings.social_instagram_link }}' target='_blank' class='menu-item'>Follow</a>
          </li>
          <li class=''>
            <span class='block js-cart-drawer-toggle menu-item'>
              <div class='bag rel seesaw'>
                <img src="{{ 'bag.svg' | asset_url }}" />
                <span class='js-cart-count abs fs-14'>{{ cart.item_count }}</span>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</header>
