<section class='instagram bb f fw' data-component='ig' {% if section.settings.hide_ig %}style='display: none'{% endif %}>
    <div class='lg--one-quarter sm--one-half bl lg--p-12 sm--p-4 ac sm--bb rel'>
      <div class='x abs fill y f aic jcc'>
        <div>
          <span class='block lg--fs-26 sm--fs-22 bold ls-8 caps'>{{ section.settings.title }}</span>
          <a href='{{ section.settings.link }}' class='block lg--fs-22 sm--fs-16 lh-2 ls-8 maisonneuemono seesaw' target='_blank'>{{ section.settings.name }}</a>
        </div>
      </div>
    </div>
  {% for block in section.blocks %}
    <div class='lg--one-quarter sm--one-half bl {% if forloop.first %}sm--bb{% endif %}'>

      <div class='square'>
        <div class='abs fill x y f jcc aic'>
          <div class='lg--p-16 sm--p-6 x y'>
            <div class='featured-collection__item block ma'>
              <a href="{{ block.settings.url }}" target="_blank" class='block square rel'>
                <img src="{{ block.settings.image | img_url: '800x' }}" class='abs fill fit x y max-width--100'>
              </a>
            </div>
          </div>
        </div>
      </div>




    </div>
    {% endfor %}
</section>

{% schema %}
  {
    "name": "Instagram",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_ig",
        "label": "Hide Instagram Section"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "name",
        "label": "Name"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
