{% comment %}
  Use this file for handling Custom Fonts, don't add fonts.
  We don't support importing fonts from the Shopify pipeline
  so you hve to do it here.
{% endcomment %}

@font-face {
  font-family: 'MaisonNeueMono';
  font-weight: 400;
  font-style: normal;
  src: url('{{ 'MaisonNeueMono-Regular.woff2' | asset_url }}') format('woff2'),
       url('{{ 'MaisonNeueMono-Regular.woff' | asset_url }}') format('woff');
}

@font-face {
  font-family: 'MaisonNeue';
  
  font-style: normal;
  src: url('{{ 'MaisonNeue-Medium.woff2' | asset_url }}') format('woff2'),
       url('{{ 'MaisonNeue-Medium.woff' | asset_url }}') format('woff');
}


@font-face {
  font-family: 'MaisonNeue';
  font-weight: 700;
  font-style: normal;
  src: url('{{ 'MaisonNeue-Bold.woff2' | asset_url }}') format('woff2'),
       url('{{ 'MaisonNeue-Bold.woff' | asset_url }}') format('woff');
}

@font-face {
  font-family: 'MaisonNeue';
  font-weight: 900;
  font-style: normal;
  src: url('{{ 'MaisonNeue-ExtraBold.woff2' | asset_url }}') format('woff2'),
       url('{{ 'MaisonNeue-ExtraBold.woff' | asset_url }}') format('woff');
}
