<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {{ 'index.css' | asset_url | stylesheet_tag }}

  {% comment %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% endcomment %}

  {% comment %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  {% endcomment %}

  {{ content_for_header }}
</head>

<body class="template-password ac outer" style='background-color: #e2e2e2;'>
  <header role="banner" class='block pt-30 pb-20'>
    <h1 itemscope itemtype="http://schema.org/Organization">
      <div class="site-logo caps">
        {{ shop.name }}
      </div>
    </h1>
  </header>

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  <div id="login" style='display: none' class='pt-10 pb-10 lg--one-half block ma'>

    <div class='f x aic jcc pb-10 fw'>
      <div class='pr-4 sm--one-whole sm--pb-4'>
        <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
      </div>

      <div class='f sm--one-whole'>
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          {% comment %}
          <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
          {% endcomment %}

          <div class='f'>
            <input type="password"
              name="password"
              id="Password"
              placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              class="bg-white x inline-block p-2 x">
            <button type="submit" name="commit" class='button bg-black c-white fs-16 caps'>
              {{ 'general.password_page.login_form_submit' | t }}
            </button>
          </div>
        {% endform %}
      </div>
    </div>

    <div class='x ac'>
      <p>{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>

  </div>


</body>
</html>
