<!DOCTYPE html>
<html lang='{{ shop.locale }}' class='no-bar'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='canonical' href='{{ canonical_url }}'>
    <link rel='shortcut icon' href='' type='image/png'>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-icon-57x57.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'apple-icon-60x60.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-icon-72x72.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-icon-76x76.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-icon-114x114.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-icon-120x120.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-icon-144x144.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-icon-152x152.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-icon-180x180.png' | asset_url }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'android-icon-192x192.png' | asset_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96x96.png' | asset_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
    <link rel="manifest" href="{{ 'manifest.json' | asset_url }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'ms-icon-144x144.png' | asset_url }}">
    <meta name="theme-color" content="#ffffff">

    {% capture seo_title %}
      {{ page_title }}
      {% if current_tags %}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {% endif %}
      {% if current_page != 1 %}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {% endif %}
      {% unless page_title contains shop.name %}
        &ndash; {{ shop.name }}
      {% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>

    {% include 'head-meta' %}

    {% if template.directory == 'customers' %}
      <script src='{{ 'shopify_common.js' | shopify_asset_url }}' defer='defer'></script>
    {% endif %}

    <script>
      window.theme = {
        strings: {
          addToCart: "{{ 'products.product.add_to_cart' | t }}",
          soldOut: "{{ 'products.product.sold_out' | t }}",
          unavailable: "{{ 'products.product.unavailable' | t }}"
        },
        moneyFormat: "{{ shop.money_format }}"
      }
    </script>

    {{ 'index.css' | asset_url | stylesheet_tag }}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}


    <script type='text/javascript'>
    (function (d, t) {
      var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
      bh.type = 'text/javascript';
      bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=oicz9nacwccpy7lnlhbaxq';
      s.parentNode.insertBefore(bh, s);
      })(document, 'script');
    </script>
    

    {{ content_for_header }}
  </head>

  <body class='rel mm--hidden x bg-light-gray'>
    <div class='abs fill b z-1 x y'></div>

    {% section 'header' %}

    <div>
      <main role='main' id='root' class='lg--pt-39 sm--pt-17 overflow--hidden'>
        {{ content_for_layout }}
        {% section 'instagram' %}
        {% section 'footer' %}

      </main>
    </div>

    <div id='siteOverlay' class='site-overlay'></div>

    {% include 'cart-drawer' %}

    <script src='{{ 'index.js' | asset_url }}' defer='defer'></script>
  </body>
</html>
